* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Techno Race Italic";
  src: url("../fonts/techno-race-italic-font/TechnoRaceItalic-eZRWe.otf")
    format("truetype");
}

body {
  background: url(../gamepics/BG.jpg) center/cover no-repeat fixed;
  margin: 0;
  padding: 0;
}

.postion-texts {
  position: absolute;
  left: 30px;
  top: 100px;
}

/* Menu container */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Game name */
.text-name {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00ffcc;
  border-radius: 10px;
  padding: 15px;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 5px #ff00bf;
  border: 2px solid #ff00bf;
}
.text-name i {
  margin-right: 10px;
  color: #ff00bf;
}

.menu-item {
  text-align: center;
  margin-top: 20px;
}

.play-button,
.reset-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00ffcc;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 5px #ff00bf;
  margin: 10px 0;
  border: 2px solid #ff00bf;
  font-family: "Techno Race Italic";
}

#scoreDisplay {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00ffcc;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 5px #ff00bf;
  margin: 10px 0;
  border: 2px solid #ff00bf;
  font-family: "Techno Race Italic";
}

.best-score {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00ffcc;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 5px #ff00bf;
  border: 2px solid #ff00bf;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
  font-family: "Techno Race Italic";
}

.audio-container {
  color: #00ffcc;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid #ff00bf;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
  padding: 20px;
}

.custom-play-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #00ffcc;
}

.custom-play-button i {
  text-shadow: 2px 2px 5px #ff00bf;
}

audio::-webkit-media-controls {
  display: none;
}

#musicSelect {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ff00bf;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #00ffcc;
  margin: 10px;
  cursor: pointer;
  font-family: "Techno Race Italic";
}

#audioContainer audio {
  width: 100%;
  max-width: 400px;
  background-color: #1e1e1e;
  border: 2px solid #ff00bf;
  border-radius: 10px;
}
.volume-control {
  margin-top: 10px;
}

.music-select {
  margin-top: 10px;
}
