* {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fuel-percentage {
  top: 20px;
  right: 0px;
  height: 10px;
  width: 170px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffcc00;
  background-color: #000;
  color: #ffcc00;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}

.health-bar {
  top: 20px;
  right: 0px;
  height: 10px;
  left: 0px;
  width: 170px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffcc00;
  background-color: #000;
  color: #ffcc00;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}
#fuel-cooldown,
#heal-cooldown {
  position: absolute;
  top: 0;
  height: 10px;
  width: 170px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffcc00;
  background-color: #000;
  color: #ffcc00;
  border-radius: 5px;
  z-index: 999;
}

.street-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../gamepics/BG1.png");
  top: 0;
  left: 0;
  z-index: 0;
}

.max-area {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #444;
}

.left-trees,
.right-trees {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1; /* important */
}

.left-trees {
  left: 0;
}
.right-trees {
  right: 0;
}

.car {
  z-index: 1;
  margin: 30px;
  position: absolute;
  width: 50px;
  height: 100px;
  bottom: 30px;
  background-image: url("../gamepics/car2.png");
  background-size: cover;
}

.Score {
  height: 30px;
  width: 150px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffcc00;
  background-color: #000;
  color: #ffcc00;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  right: 0px;
  bottom: 0px;
}

.lines,
.lines2,
.leftline,
.rightline {
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
}

/* middle dashed lines */
.lines {
  left: 30%;
  background: white;
}

.lines2 {
  right: 30%;
  background: white;
}

/* road borders */
.leftline {
  left: 0;
  background: rgb(217, 255, 0);
}

.rightline {
  right: 0;
  background: rgb(217, 255, 0);
}

.EnemyCar {
  position: absolute;
  width: 50px;
  height: 100px;
  transition: transform 0.2s ease;
  transform-origin: center center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-message {
  position: fixed;
  top: 30px;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  display: none;
  z-index: 999;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: auto;
  width: auto;
  padding: 5px;
}

.popup-message::before {
  content: "\1F3CE";
  font-size: 30px;
  display: block;
  color: #ff9900;
}

.highlight-key {
  color: #ff9900;
  font-weight: bold;
  font-size: 30px;
}

.mystery-box {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
}

.mystery-box img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.mystery-box:hover {
  border: 2px solid #ff9900;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.7);
  z-index: 3;
}
.vertical-line {
  position: absolute;
  width: 10px;
  height: 100%;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 0;
}
